/* Theme Default CSS
==================================================*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Tajawal:wght@300;400;500;700&display=swap');
html {
    scroll-behavior: smooth;
}

/* global classes */

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}
/* Theme info */
#theme-info {
    position: relative;
    color: transparent;
    font-size: 9px;
    z-index: -1;
}
/* Theme info end */
label {
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}
.card i {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 24px; /* Adjust the font size as needed */
  }
  .card {
    border-top: solid 0.3125rem #F2D479;
    height: max-content;
    background: #ffffff;
    padding: 2rem 2rem;
    overflow: hidden;
    color: #444444;
    border-radius: 0.25rem;
    box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2) !important;
  }
  .text-container {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
 .smaller-image {
    width: 64%;
    padding: 50px;
    display: block;
    margin: 0 auto;
}
/* ::selection {
      background: #444;
      color: #fff;
      text-shadow: none; 
   }*/
*::-moz-placeholder {
    color: #555;
    font-size: 14px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

*::-webkit-input-placeholder {
    color: #555;
    font-size: 14px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

*:-ms-input-placeholder {
    color: #555;
    font-size: 14px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

*::placeholder {
    color: #555;
    font-size: 14px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.theme-overlay {
    position: relative
}

.theme-overlay:before {
    background: #4272d7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    position: absolute;
    top: 0;
    width: 100%;
}

.separator {
    border-top: 1px solid #f2f2f2
}

.about-section {
    background-color: #fff;
    /* border: 1px solid #ccc; */
    margin: 20px;
    padding: 20px;
    text-align: center;
    /* border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

.counter {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.counter-item {
    text-align: center;
}

.counter-number {
    font-weight: bold;
    font-size: 36px;
}
.counter-section{
    margin-top: 50px ;

}
.map-section{
    margin-top: 50px ;
    text-align: center;
}
.sections-text-container{
    text-align: right;
}
/* End Header Area */
/* Start Slider Area
==================================================*/
 h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #467f8c;
    position: relative;
    padding-bottom: 10px;
}
 h4:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    width: 200px;
    content: "";
    background: #ebc249;
}

.page_2 h4:after {
    position: absolute;
    bottom: 0;
    left: 50% !important; 
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    width: 200px;
    content: "";
    background: #ebc249;
}
body {
    font-family: Alexandria!important;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
}

.scrollUp a {
    position: absolute;

}

body.scrolled .scrollUp {

}

/* End ScrollUp */
/* Tablet desktop :768px. */
@media only screen and (max-width: 991px) {

}

/* small mobile :320px. */
@media only screen and (max-width: 767.98px) {
    .blockbgwhite {
        margin-top: 20px;
        margin-bottom: 20px;
    }

  
    .blog-content {
        padding-left: 0;
    }


}
